.container {
    max-width: 630px;
    padding: 50px 15px;
    margin: auto;
}
.group {
    margin: 25px 0;
}
.input {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: Roboto, sans-serif;
}
.textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
    height: 100px;
    font-family: Roboto, sans-serif;
}
.submit {
    display: block;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: #2196F3;
    color: #fff;
    max-width: 200px;
    margin: auto;
    padding: 5px;
    font-size: 18px;
}