.feature {
    box-shadow: 0 0 5px #dedede;
}
.header {
    padding: 0 15px;
}
.text {
    padding: 0 15px;
}
.figure {
    max-height: 200px;
    overflow: hidden;
}
.image {
    width: 100%;
    position: relative;
}
.heading {
    font-weight: 300;
}