* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
figure {
  margin: 0;
}
.main {
  min-height: calc(100vh - 120px);
}
.slick-dots {
  bottom: 0;
}
.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}
.slick-arrow {
  z-index: 2;
}